:root {
    --bg-main-color:#242424;
    --bg-sidebar-color:#161616;
    --border-sidebar-color:#db8017af;
    --text-color:#fff;
    --li-nav-active-color:#eb8613;
    --left-section-and-body: 15em;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    outline: none;
    text-decoration: none;
}

body {
    color: var(--text-color);
    background: var(--bg-main-color);
    min-height: 100vh;
    font-size: 1em;
}

/*===== Sidebar Start =====*/
ul {
    list-style: none;
}

.sidebar {
    width: 15em;
    height: 100vh;
    background: var(--bg-sidebar-color);
    border-right: 0.1em solid var(--li-nav-active-color);
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar h1{
    position: absolute;
    text-transform: capitalize;
    font-size: 1.5em;
    top: 13%;
    padding: 1em;
}

nav ul li a {
    color: var(--text-color);
    margin-bottom: 60%;
    display: block;
    font-weight: 600;
    padding: 0.4em;
    border-bottom: 1px solid rgb(194, 194, 194);
}

nav ul li a.active {
    color:var(--li-nav-active-color);
}
/*===== Sidebar End =====*/
/*obs: fazer o botao de opções da sidebar no mobile*/

/*===== Home Section Start =====*/
section {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    left: var(--left-section-and-body);
    z-index: 0;
}

.container {
    /*max-width a verificar*/
    width: 100vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 7%;
    padding-top: 5%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    position: relative;
} 
#my-photo {
    height: 20em;
    border-radius: 7%;
}

.home-section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
}

.home-info {
    text-align: justify;
}

.hello {
    margin-bottom: 5%;
}

.home-info p {
    font-size: 0.9em;
}

/*===== Home Section End =====*/